html {
    scroll-behavior: smooth;
  }

/*landing page*/
body{
    background-color: black;
}
.text{
    color: white;
}

#lpage{
    position: absolute;
    top: .5cm ;
    left: .5cm;
    margin: auto;
}


/*icons*/
#lpage i{
    width: 1.5cm;
    color: white;
}

#lpage i:hover{
    color: rgb(224, 218, 218);
    transform: scale(1.1);
}
#fb{
    animation-name: facebook;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes facebook{
    0%{
        color: white;
    }
    50%{
        color: #4267B2;
    }
    100%{
        color: white
    }
}
#insta{
    animation-name: instagram;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes instagram {
    0%{color:#405de6}
    5%{color:#5851db}
    10%{color:#833ab4}
    15%{color:#c13584}
    20%{color:#e1306c}
    25%{color:#fd1d1d}
    30%{color:#f56040}
    35%{color:#f77737}
    40%{color:#fcaf45}
    45%{color:#ffdc80}
    50%{color:#ffdc80}
    55%{color:#fcaf45}
    60%{color:#f77737}
    65%{color:#f77737}
    70%{color:#f56040}
    75%{color:#fd1d1d}
    80%{color:#e1306c}
    85%{color:#c13584}
    90%{color:#833ab4}
    95%{color:#5851db}
    100%{color:#405de6}
    
}
/*title*/
.title{
    position:absolute;
    top: .5cm;
    left: 45%;
    color: white;
}

#rect {
    animation-name: rainbow;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
      }
@keyframes rainbow{
      0%{
        color: white;
    }
    25%{
        color:brown;
    }
    50%{
      color: #c4264e;
    }
    75%{
        color:brown;
    }
    100%{ 
        color: white;
    }
}

/*menubar*/
#menupos{
    position: absolute;
    top:.90cm;
    right: 8cm;
    display: flex;
}

#menupos a{
    color: rgb(255, 255, 255);
    font-family: 'Tajawal', sans-serif;
    font-size: .5cm;
    padding: 15px;
    text-decoration: none;
}

#menupos a:hover{
    color: #e1306c ;
}

/*intro*/
#intropos{
    position: absolute;
    top: 6cm;
    left: 3cm;
}

#intropos h1{
    font-size: 1cm;
    height: .55cm;
    font-stretch: expanded;
    display: inline;
}

h1.txtchange:hover{
    position:relative;
    bottom: 3px;
    transform: scale(1.1);
}

#intropos h2{
    font-size: .85cm;
    height: .25cm;
    font-stretch: expanded;
}

 #intropos p{
    font-size: .50cm;
 }

 #intropos img{
     position: absolute;
     left: -2.5cm;
 }

.intro{
    color: white;
    font-family: 'EB Garamond', serif;
}
.textstl{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size:1.3cm;
    font-weight:lighter;
    background: -webkit-linear-gradient(#eee 50%, #c4264e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#textme{
    position: absolute;
    top: -.83cm;
    right: 6cm;
    animation-name: appear;
    animation-duration: 5s;
    animation-delay: 250ms;
    color: white;
}

#textme:hover{
    background: -webkit-linear-gradient(#eee 50%, black 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/*arrow
#rarrpos{
    position: absolute;
    top: 8.5cm;
    right: 5px;
}

#rarrpos i:hover{
    transform: scale(1.2);
    color: brown;
}

#larrpos{
    position: absolute;
    top: 8.5cm;
    left: 44%;
}

#larrpos i:hover{
    transform: scale(1.2);
    color: brown;
}
*/


/*pics*/
#picid{
    height: 100%;
    position: absolute;
    top: 4cm;
    right: 2.5cm;
    
}

#picid img{
    border-radius:50px 5px 50px 5px;
}

.dp{
    opacity: .95;
    filter: saturate(10%)
}

div.dp:hover{
    opacity: .75;
    filter: blur(.31px);
    border: #c4264e solid;
    border-radius:55px 10px 59px 10px;
    border-right:#405de6 solid;
    border-bottom: #405de6 solid;
    filter: saturate(100%)
}
#picid img:hover{
    position: relative;
    left: 1px;
  
}

/*About Section*/
#abtsec{
    color: white;
    position: absolute;
    top: 17cm;
    left: 4cm;

}

.abt{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 2.5cm;
    text-align: center;
    opacity: .50;
    margin-right: 24cm;
}

#abttext{
    position: absolute;
    top: 1.7cm;
    left: 7.2cm;
}

#abttext a{
    text-decoration: none;
    color: white;
    
}
#abttext a:hover{
    color: #e1306c;
}
.abttex{
    font-family: 'EB Garamond', serif;
    font-size: 0.5cm;
    
}

#abttext p{
    padding: 2%;
}
/*achievements*/

.ml9 {
    position: relative;
    font-weight: bold;
    font-size: 2cm;
    font-family: 'Bebas Neue', cursive;
    color: white;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-right: 0.05em;
    padding-bottom: 2px;
    overflow: hidden;
  }
  

  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;

  }

  #achpos{
      position: absolute;
      right: 5cm;
      top: 25cm;
      opacity: 0.50;
  }

  #achpos:hover{
      opacity: 1;
  }

/*certificates*/
  #certpos1 img{
    margin-top: 3%;
    margin-left: 10%;
    position: absolute;
    top: 25cm;
  }
  #certpos1 img:hover{
    transform: scale(1.2);
  }
  
  #certpos2 img{
    margin-top: 3%;
    margin-left: 10%;
    position: absolute;
    top: 33cm;
  }
  #certpos2 img:hover{
    transform: scale(1.2);
  }
  
  #certpos3{
    position: absolute;
    top: 33cm;
    margin-left: 55%;
    margin-top: 3%;
  }
  #certpos3 img:hover{
    transform: scale(1.2);
  }
  
.certi img{ 
    border-radius: 20px;
}

/*Languages*/

 #langpos{
     position: absolute;
     top: 45cm;
     left: 4.5cm;
     color: white;
     margin-right: 5cm;
 }

 #langico{
    position: relative;
    bottom: 6cm;
    left: 12cm; 
    width: 490px;
    border:#833ab4 2px solid;
    border-radius: 10px;
    padding-left: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    -webkit-animation: ease-in;
    -webkit-animation-name: borcolor;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;

 }

 #langico i,svg{
     width: 2cm;
 }
 #langico i:hover,svg:hover{
     transform: scale(1.2);
     opacity: 1;
 }

 @keyframes borcolor{
     0%{
         border-left:#833ab4 3px solid;
         border-right: #405de6 3px solid;
         border-bottom:#5851db 3px solid;
         border-top: #c4264e 3px solid;
         opacity: 1;
     }
     25%{
        border-top:#fd1d1d 3px solid;
        border-bottom: #405de6 3px solid;
        border-right:#833ab4 3px solid;
        border-left:#e1306c 3px solid;
        opacity: 0.8;
     }
     50%{
        border-right:#c13584 3px solid;
        border-bottom:#833ab4 3px solid;
        border-left:#e1306c 3px solid;
        border-top: #5851db 3px solid;
        opacity: 0.7;
     }
     75%{
        border-bottom:#fd1d1d 3px solid;
        border-top: #405de6 3px solid;
        border-left:#833ab4 3px solid;
        border-right:#e1306c 3px solid;
        opacity: 0.8;
     }
     100%{
         border-top: #c13584 3px solid;
         border-bottom: #5851db 3px solid;
         border-right: #405de6 3px solid;
         border-left: #833ab4 3px solid;
         opacity: 1;
     }
 }

div.abt:hover{
    opacity: 1;
}

#langico:hover{
    opacity: 1 !important;
}


/*scroll bar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }

  .progress-bar {
    height: 3px;
    background: rgb(88,81,219);
    background: linear-gradient(90deg, rgba(88,81,219,1) 0%, rgba(131,58,180,1) 25%, rgba(193,53,132,1) 50%, rgba(196,38,78,1) 75%, rgba(225,48,108,1) 100%);
    width: 0%;
  }
  
 